<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSExceptionDomains</key>
        <dict>
            <key>index.zapto.org</key>
            <dict>
                <!-- HTTP 연결 허용 (키 이름 반드시 NSExceptionAllowsInsecureHTTPLoads) -->
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <!-- 서브도메인 및 포트 포함 모든 하위 경로 허용 -->
                <key>NSIncludesSubdomains</key>
                <true/>
            </dict>
        </dict>
    </dict>


</dict>
</plist>
